<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <title>8-bit Cadastro</title>
</head>

<body class="nes-container">
    <br>
    <div class="nes-container with-title">
        <p class="title">Cadastrar</p>
        <div class="nes-field">
            <label for="name_field">Usuário</label>
            <input type="text" id="name_field" class="nes-input">
            <label for="name_field">Email</label>
            <input type="email" id="email_field" class="nes-input">
            <label for="password_field">Senha</label>
            <input type="password" id="password_field" class="nes-input">
            <br>
            <a href="/login">
                <button type="button" class="nes-btn is-warning">Cadastrar</button>
            </a>
        </div>
    </div>
    <script type="text/javascript" src="../static/materialize.min.js"></script>
</body>

</html>