<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/icon.ico" >
    <title>8-bit Chat</title>

    <style type="text/css">
        a li {
            color: grey;
            text-decoration: none;
        }

        a:link {
            color: white;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }

        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="#!" class="brand-logo center"><i class="nes-icon trophy is-large"></i>⠀⠀8-bit Chat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#!" onclick="document.getElementById('conversas').showModal();">Conversas</a>
                </li>
                <li><a href="/logout">Sair</a>
                </li>
                <!-- DIALOG-->
            </ul>
        </div>
    </nav>

    <br><br>
    <div class="row">
        <div class="col s1">
            <i class="nes-mario"></i>
            <i class="nes-ash"></i>
            <i class="nes-pokeball"></i>
            <i class="nes-kirby"></i>
        </div>
        <div class="col s9">
            <div class="nes-container with-title">
                <p class="title">Chat com { NOME PHODA }</p>
                <section class="message-list" style="overflow-x: hidden; overflow-y: scroll">
                    <section class="message -left" >
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>
                    <section class="message -left">
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>

                    <!-- AQUI VAI AS MENSAGENS -->

                </section>

                <div class="row">
                    <div class="col s10">
                        <textarea id="textarea_field" class="nes-textarea"></textarea>
                    </div>
                    <div class="col s2">
                        <button type="button" class="nes-btn is-warning">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s2 right">
            <i class="nes-octocat animate"></i>
            <i class="nes-charmander"></i>
            <i class="nes-squirtle"></i>
            <i class="nes-bulbasaur"></i>
        </div>
    </div>

    <section>
        <dialog class="nes-dialog is-rounded" id="conversas">
            <form method="dialog">
                <p class="title">Conversas
                    <a>
                        <span class="right" onclick="document.getElementById('amigos').showModal();">Adicionar</span>
                    </a>
                </p>
                <div class="lists">
                    <ul class="nes-list is-circle">
                        <a href="#!" class="collection-item">
                            <li><span class="badge">6</span>Conversa 1</li>
                        </a>

                        <a href="#!" class="collection-item">
                            <li><span class="badge">3</span>Grupo 1</li>
                        </a>

                        <a href="#!" class="collection-item">
                            <li><span class="badge">14</span>Grupo 2</li>
                        </a>

                        <a href="#!" class="collection-item">
                            <li><span class="badge">0</span>Grupo 3</li>
                        </a>

                        <!-- AQUI VAI OS AMIGUINHOS -->
                    </ul>
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary">Confirmar</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog" id="amigos">
            <form method="dialog">
                <p class="title">Lista de Amigos</p>
                <label>
                    <input type="checkbox" class="nes-checkbox" />
                    <span>Amigo 1</span>
                </label>
                <br>
                <label>
                    <input type="checkbox" class="nes-checkbox" />
                    <span>Amigo 2</span>
                </label>
                <br>
                <label>
                    <input type="checkbox" class="nes-checkbox" />
                    <span>Amigo 3</span>
                </label>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary">Confirmar</button>
                </menu>
            </form>
        </dialog>
    </section>

</body>

</html>