<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/icon.ico" >
    <title>8-bit Chat</title>

    <style type="text/css">
        a li {
            color: grey;
            text-decoration: none;
        }

        a:link {
            color: white;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .-right {
            text-align: end;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="#!" class="brand-logo center"><i class="nes-icon trophy is-large"></i>⠀⠀8-bit Chat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#!" onclick="document.getElementById('conversas').showModal();">Conversas</a>
                </li>
                <li><a href="/logout">Sair</a>
                </li>
                <!-- DIALOG-->
            </ul>
        </div>
    </nav>

    <br><br>
    <div class="row">
        <div class="col s1">
            <i class="nes-mario"></i>
            <i class="nes-ash"></i>
            <i class="nes-pokeball"></i>
            <i class="nes-kirby"></i>
        </div>
        <div class="col s9">
            <div class="nes-container with-title">
                <a class="title" onclick="show_group_info()" title="Clicke aqui para ver informações sobre o grupo atual">Chat com <span id="room_name">8-bit Chat</span></a>
                <section class="message-list" id="messages" style="overflow-x: hidden; overflow-y: scroll">


                    <section class="message -left" >
                        <div class="nes-balloon from-left">
                            <p>Bem-Vindo ao 8-bit Chat</p>
                        </div>
                    </section>

                    <!-- AQUI VAI AS MENSAGENS -->

                </section>

                <div class="row">
                    <div class="col s10">
                        <textarea id="textarea_field" class="nes-textarea"></textarea>
                    </div>
                    <div class="col s2">
                        <button type="button" class="nes-btn is-warning">Enviar</button>
                    </div>
                </div>

                <div class="row" id="add-remove_buttons" style="display: none">
                    <div class="col s6">
                        <button type="button" class="nes-btn" id="button_add_participant">Adicionar participante</button>
                    </div>
                    <div class="col s6 right-align">
                        <button type="button" class="nes-btn" id="button_remove_participant">Remover participante</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s2 right">
            <i class="nes-octocat animate"></i>
            <i class="nes-charmander"></i>
            <i class="nes-squirtle"></i>
            <i class="nes-bulbasaur"></i>
        </div>
    </div>

    <section>
        <dialog class="nes-dialog is-rounded" id="conversas">
            <form method="dialog">
                <p class="title">Conversas
                    <a>
                        <span class="right" onclick="document.getElementById('create_room_dialog').showModal();">Criar sala</span>
                    </a>
                </p>
                <div class="lists">
                    <ul class="nes-list is-circle" id="rooms-list">

                        {% for room in rooms %}
                            <a href="#!" class="collection-item">
                                <li room-id="{{ room.id }}" class="room"><span class="badge">0</span>{{ room.name }}</li>
                            </a>
                        {% endfor %}

                        <!-- AQUI VAI OS AMIGUINHOS -->
                    </ul>
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary">Confirmar</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog" id="amigos">
            <form method="dialog">
                <p class="title">Lista de Amigos</p>
                <label>
                    <input type="checkbox" class="nes-checkbox" />
                    <span>Amigo 1</span>
                </label>
                <br>
                <label>
                    <input type="checkbox" class="nes-checkbox" />
                    <span>Amigo 2</span>
                </label>
                <br>
                <label>
                    <input type="checkbox" class="nes-checkbox" />
                    <span>Amigo 3</span>
                </label>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary">Confirmar</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog" id="create_room_dialog">
            <form method="dialog">
                <div id="jquery_form_create-room">
                    <p class="title">Criar sala</p>
                    <label for="jf_create_room-name">Nome da sala</label>
                    <input type="text" id="jf_create_room-name" class="nes-input">
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary" id="jf_create-create">Criar</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog" id="add_participant_dialog">
            <form method="dialog" id="form_add_participant_dialog">
                <div id="participant_selector">
                    <p class="title">Selecione quem você deseja adicionar:</p>
                    <div id="participants_checkbox">

                    </div>
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary" id="dialog_button_add_participant">Adicionar</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog" id="remove_participant_dialog">
            <form method="dialog" id="form_remove_participant_dialog">
                <div id="remove_participant_selector">
                    <p class="title">Selecione quem você deseja remover:</p>
                    <div id="remove_participants_checkbox">

                    </div>
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn">Cancelar</button>
                    <button class="nes-btn is-primary" id="dialog_button_remove_participant">Remover</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog" id="group_info_dialog">
            <form method="dialog">
                <div>
                    <p class="title">Informações do grupo <span id="grupo-_info_name"></span></p>
                    <div id="group_info_info">
                        <div class="nes-container with-title is-centered">
                          <p class="title">Participantes: </p>
                          <div class="lists">
                              <ul class="nes-list is-disc" id="group_info_participants_list">

                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn is-primary">Fechar</button>
                </menu>
            </form>
        </dialog>
    </section>

</body>

{# define global constant USERNAME and USERNAME_ID #}
<script type="text/javascript">
    var USERNAME = '{{ account.username }}';
    var USERNAME_ID = {{ account.id }};
</script>

<script type="text/javascript" src="{{ url_for('static', filename="js/jquery-3.4.1.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/ui-updater.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/create-room.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/change-room.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/add_participant-checkbox.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/remove_participant-checkbox.js") }}"></script>

</html>