<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/icon.ico">
    <title>8-bit</title>

    <style type="text/css">
        a li {
            color: grey;
            text-decoration: none;
        }

        a:link {
            color: white;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }

        a {
            color: white;
            text-decoration: none;
        }
    </style>

</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="#!" class="brand-logo center"><i class="nes-icon trophy is-large"></i>⠀⠀8-bit Chat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Entrar</a>
                </li>
                <!-- DIALOG-->
            </ul>
        </div>
    </nav>
    <br>
    <div class="nes-container container is-primary with-title is-centered">
        <p class="title"></p>
    </div>
</body>

</html>